<b-container id="footer">
  <b-row>
    <b-col sm="6" h-align="start">
      <h5 class="title">{{ brandname }}</h5>
      <p>Altijd goed gemutst</p>
      <!-- Sitemap -->
    </b-col>

    <b-col sm="6">
      <h5 class="title">Links</h5>
      <ul>
        <li class="list-unstyled">
          <a
            href="https://github.com/tostimetkaas/uwe-majesteit"
            target="_blank"
          >Github</a>
        </li>

        <li class="list-unstyled">
          <router-link to="/privacy">Privacy statement</router-link>
        </li>

        <li class="list-unstyled"><a href="#!">Link 3</a></li>
        <li class="list-unstyled"><a href="#!">Link 4</a></li>
      </ul>
    </b-col>
  </b-row>


  <b-row>
    <b-col sm="6">
      <p>&copy; 2020 Copyright Kimberly Rijvers</p>
    </b-col>

    <b-col sm="6">
      <a
        class="social-link"
        href="https://github.com/tostimetkaas/uwe-majesteit"
        target="_blank"
      >
        <img
          src="../../assets/Github-Mark/PNG/GitHub-Mark-120px-plus.png"
          alt="Github Logo"
        />
      </a>

      <a
        class="social-link"
        href="https://www.linkedin.com/in/krijvers/?originalSubdomain=nl"
        target="_blank"
      >
        <img
          src="../../assets/LinkedIn-Logos/LI-In-Bug.png"
          alt="LinkedIn Logo"
        />
      </a>
    </b-col>
  </b-row>
</b-container>
