:root {
  --space-cadet: #2E3047;
  --mountain-meadow: #3bba9c;
  --celadon: #8EE4AF;
  --beige: #EDF5E1;
  --prussian-blue: #05386B;
}


/* Raleway & Open Sans font, google */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Open Sans, local */
/* https://www.fontsquirrel.com/tools/webfont-generator */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
/* @font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"),
       url("assets/fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
} */

body {
  color: var(--prussian-blue);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
}

section, div {
  height: inherit;
}

#app {
  font-family: 'Raleway', 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--beige);
  background-color: var(--mountain-meadow);
}

#main-container {
  background-color: var(--space-cadet);
  min-height: calc(100vh - 64px);
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 20px;
  display: grid;
  overflow: hidden;
}

#navbar {
  background-color: var(--mountain-meadow);
  color: var(--prussian-blue);
}

#footer {
  background-color: var(--beige);
  max-width: none;
  padding: 15px;
  color: var(--prussian-blue);
}


.brandname {
  margin: 4px 0px;
}

.card-body {
  color: var(--space-cadet);
}

.social-link img {
  height: 32px;
  margin: 0px 10px;
}
